th{
  background-color: blueviolet;
  padding:10px 20px 10px 5px;
  color:white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
table, th, td {
  border: 2px solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  border-collapse: collapse;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;

}
